html {
  -webkit-text-size-adjust​: ​none​;
  width: 100%;
  margin: 0;
  font-size: 62.5%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 65px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  /* 드래그 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*드래그 하고 싶은 영억에는 아래 css 적용하기*/
.draggable {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.react-datepicker__day--outside-month {
  color: #a8a8a8 !important;
  pointer-events: none;
} 

.react-datepicker__month-container {
  display: block !important;
}

.react-datepicker__header {
  background-color: #fff;
  color: #fff;
  border-bottom: none;
  border-radius: 0;    
}
.react-datepicker {
  font-size: 1.5em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}
::-webkit-scrollbar {
  display: none;
}